*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar{
  background-color: #034871;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 3%;
  cursor: pointer;
}
.logo h1 {
  font-size: 40px;
  color: white;
}

.attributes{
  color: white;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.au{
  width: 7vw;
  color: white;
  text-decoration: none;
}
.attributes a:hover {
  color: #ccc; /* change text color on hover */
  background-color: #034871; /* add background color on hover */
  border-radius: 10px; /* add border radius on hover */
  padding: 10px 20px; /* add padding on hover */
}

.side-nav{
  height: 100%;
  width: 40%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color:#034871;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  display: none;
}
.side-nav-close{
  display: none;
}
.side-nav-open{
  display: block;
  width: 250px;
}


.side-nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  color: #f1f1f1;
}

.side-nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: white;
  background: none;
  border: none;
}
.menu{
  display: none;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5%;
}
form {
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 2);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="tel"], input[type="email"] {
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: 50px;
  }
  
  select {
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: 55px;
  }
  
  input[type="submit"] {
    width: 90%;
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 50px;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }


  /* footer */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
footer{
  background-color: #034871;
  color: white;
}
.foot-panel1{
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  gap: 10%;
  font-size: 18px;
  cursor: pointer;
}
ul {
  margin-top: 20px;
}
ul a{
  display: block;
  font-size: 1rem;
  margin-top: 10px;
  color: white;
  text-decoration: none;
}
.foot-panel2 {
  color: white;
  height: 50px;
  padding-top: 25px;
  text-align: center;
}

.foot-panel2 a{
  color: white;
  text-decoration: none;
}






@media (max-width:920px) {
  .navbar{
      background-color: #034871;
      height:80px;
      display: flex;
      justify-content: baseline;
      align-items: center;
      font-weight: blod;
      width: 165vw;
  }
 .logo h1 {
      width: 100px;
      height: 20px;
      margin-left: 40px; 
 } 
 .attributes{
      /* color: blue;
      display: flex;
      gap:5px;
      justify-content: center;
      align-items:center;
      font-weight: bold;
      font-size: 60%; */
      display: none;
  }
  .au{
      width: 8vw;
  }
  .menu{
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-items: center;
      border: none;
      background: none;

  }
  .menuimage{
      width: 45px;
      height: 45px;
  }
  
  h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    margin-left: 35%;
}
form {
    width: 120%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 20%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 2);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="tel"], input[type="email"] {
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: 50px;
  }
  
  select {
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: 55px;
  }
  
  input[type="submit"] {
    width: 90%;
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 35px;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
      footer{
      background-color: #034871;
      color: white;
      height: auto;
      width: 171vw;
     }
     .foot-panel1{
      display: flex;
      align-items: center;
      justify-items: center;
      /* justify-content: space-evenly; */
      gap: 2.5%;
      font-size: 18px;
      cursor: pointer;
  }
  ul {
      margin-top: 20px;
   }
  ul a{
      display: block;
      font-size: 1rem;
      margin-top: 10px;
      color: white;
      text-decoration: none;
  }
  .foot-panel2 {
      color: white;
      height: 50px;
      padding-top: 25px;
      text-align: center;
   }
  .foot-panel2 a{
      color: white;
      text-decoration: none;
  }
}