body {
    background-color: #034871;
}
.pr {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }
  
  .pr h3 {
    font-weight: bold;
    font-size: 24px;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pr p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .pr p:first-child {
    margin-top: 0;
  }
  
  .pr p:last-child {
    margin-bottom: 0;
  }
  
  .pr br {
    margin-bottom: 10px;
  }
  
  .pr br + br {
    margin-bottom: 20px;
  }
  
  .pr strong {
    font-weight: bold;
  }
  
  .pr ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .pr ul li {
    margin-bottom: 10px;
  }
  
  .pr ul li:before {
    content: "\2022";
    margin-right: 10px;
    color: #666;
  }


  @media (max-width:920px) {
    body {
      background-color: #034871;
  }
  .pr {
      max-width: 800px;
      margin: 40px auto;
      padding: 20px;
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-decoration: none;
    }
    
    .pr h3 {
      font-weight: bold;
      font-size: 24px;
      margin-top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .pr p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 20px;
    }
    
    .pr p:first-child {
      margin-top: 0;
    }
    
    .pr p:last-child {
      margin-bottom: 0;
    }
    
    .pr br {
      margin-bottom: 10px;
    }
    
    .pr br + br {
      margin-bottom: 20px;
    }
    
    .pr strong {
      font-weight: bold;
    }
    
    .pr ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    .pr ul li {
      margin-bottom: 10px;
    }
    
    .pr ul li:before {
      content: "\2022";
      margin-right: 10px;
      color: #666;
    }
  }