* {
    margin: 0;
    padding: 0;
    font-family: sans-serif,Arial;
}

.container {
    background-color: #034871;
    height: 70px;
    width: auto;
}
.navbar {
    height: 50%;
    width: 100%;
}
.l{
    position: absolute;
    font-size: 25px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    margin-left: 10px;
    width: 15%;
    border-radius: 15px;
    font-family: serif;
}
.navadd {
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    margin-left: 60%;
    height: 15px;
    font-weight: bold;
    cursor: pointer;
}
.navadd a {
    color: white;
    text-decoration: none;
}

.navadd a:hover {
    color: #ccc; /* change text color on hover */
    background-color: #034871; /* add background color on hover */
    border-radius: 10px; /* add border radius on hover */
    padding: 10px 20px; /* add padding on hover */
  }

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .resi, .comm {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2, h3 {
    font-weight: bold;
    margin-top: 0;
  }
  
  h2 {
    font-size: 24px;
  }
  
  h3 {
    font-size: 18px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .res-img, .comm-img {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .res-img img, .comm-img img {
    width: 25%;
    margin: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .res-img img:hover, .comm-img img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .comm {
    margin-top: 40px;
  }


/* footer */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    background-color: #034871;
    color: white;
}
.foot-panel1{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    gap: 10%;
    font-size: 18px;
    cursor: pointer;
}
ul {
    margin-top: 20px;
 }
ul a{
    display: block;
    font-size: 1rem;
    margin-top: 10px;
    color: white;
    text-decoration: none;
}
.foot-panel2 {
    color: white;
    height: 50px;
    padding-top: 25px;
    text-align: center;
 }
 .foot-panel2 a{
    color: white;
    text-decoration: none;
}